/* You can add global styles to this file, and also import other style files */
* {
  --main-color: #b17f59;
  --sub-color: #a5b68d;
}
.main-color {
  background-color: var(--main-color);
}
.main-text-color {
  color: var(--main-color);
}
.sub-color {
  background-color: var(--sub-color);
}
.sub-text-color {
  background-color: var(--sub-color);
}
.w-90 {
  width: 90%;
}
